{% block diary_note %}
{% load static %}
{% load i18n %}

    <!-- The Modal -->
    <div class="modal fade bd-example-modal-lg" id="newProjectionPhoto">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fas fa-images"></i>
                        {% trans "Фото" %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form name="new_diary_note_form" method="post" action="" id="new_diary_note_form_id" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input hidden name="diary_note_edit" value="-1" id="diary_note_edit">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <dl class="row">
                            <dt class="col-sm-4" style="padding-bottom: 20px">{{new_projection_photo_form.projection_view_photo.label}}</dt>
                            <dd class="col-sm-8">{{new_projection_photo_form.projection_view_photo}}</dd>

                            <dt class="col-sm-4" style="padding-bottom: 20px">{{new_projection_photo_form.projection_view_description.label}}</dt>
                            <dd class="col-sm-8">{{new_projection_photo_form.projection_view_description}}</dd>

                            <dt class="col-sm-4" style="padding-bottom: 20px">{{new_projection_photo_form.projection_view_type.label}}</dt>
                            <dd class="col-sm-8">{{new_projection_photo_form.projection_view_type}}</dd>
                        </dl>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="new_projection_photo_btn_id" name="new_projection_photo_btn">{% trans "Сохранить" %}</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Закрыть" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script>
            function reloader () {
                location.reload(true)
              }         
    </script>
<script type="text/python">
    from browser import document as doc, alert, ajax, window
    import json
    import urllib

    csrf_token = doc.get(name='csrfmiddlewaretoken')[0].value

    def on_complete(req):
        json_response = json.loads(req.text)
        # if success creation
        if req.status==200 and json_response['answer']==True:
            # reload page from JS
            window.reloader()
        # if error - show message
        else:
            alert(json_response['error_answer'])

    def post_request(ev):
        req = ajax.ajax()
        req.bind('complete',on_complete)
        # send a POST request to the url
        req.open("POST","{% url 'user_photos' %}",True)
        # set headers
        req.set_header('content-type','application/x-www-form-urlencoded')
        req.set_header('accept','text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8')
        # set header for Django .is_ajax() method
        req.set_header('X-Requested-With','XMLHttpRequest')

        # get inserted form data
        projection_view_description = doc['id_projection_view_description'].value
        projection_view_type = doc['id_projection_view_type'].value

        # check inputs 
        if projection_view_description and projection_view_type:
            # prepare request dictionary
            request_body = {
                            'csrfmiddlewaretoken':csrf_token, 
                            'projection_view_description': projection_view_description, 
                            'projection_view_type': projection_view_type,
                            }
            # if edit old note, set note id
            if doc['diary_note_edit'].value != '-1':
                request_body.update({'diary_note_edit': doc['diary_note_edit'].value})
            # if create new note
            else:
                request_body.update({'new_diary_note_btn': True})   

            print(request_body)
            # send data as a dictionary
            req.send(request_body)
        else:
            alert('Заполните все поля.')


    doc["new_projection_photo_btn_id"].bind("click", post_request)

</script>
{% endblock %}