{% block medical_notes %}
{% load static %}
{% load i18n %}
    <div class="page-header">
    <h2>

        <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'user_medical' %}';">

        <i class="fas fa-notes-medical"></i>
                {% trans "Записи" %}
            </button>
            <button type="button" class="btn btn-light" id="create_medical_note" data-toggle="modal"
                    data-target="#newMedicalNote">
                <i class="fas fa-plus-square "></i>
            </button>
    </h2>

    </div>
    <hr>
   
    {% if user_medical_notes %}
        <div class="paginattion">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if user_medical_notes.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">{% trans 'Первая' %}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_medical_notes.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                        </li>
                    {% endif %}
                        
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ user_medical_notes.number }}<span class="sr-only">(current)</span></a>
                    </li>
                        
                    {% if user_medical_notes.has_next %}                       
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_medical_notes.next_page_number }}">{% trans 'Следующая' %}</a>
                        </li>                       
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_medical_notes.paginator.num_pages }}">{% trans 'Последняя' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}

    <div class="row" style="padding-bottom: 20px">
        <div class="col-12">

        {% for note in user_medical_notes %}

            <div class="card text-center">
              <div class="card-header">
                  <div style="float: left">
                      {{ note.medical_note_datetime }}
                  </div>
                  <div style="float: right" class="tags">
                      {% for tag in  note.get_all_tags %}

                          <a href="{% url 'user_medical' tag %}" class="badge badge-pill badge-info">#{{ tag }}</a>

                      {% endfor %}
                  </div>
              </div>
              <div class="card-body">
                    <p hidden class="diary_note_id" >{{ note.id }}</p>
                <h5 class="card-title">
                    {{ note.medical_note_title }}
                </h5>
                <p class="card-text text-justify">{{ note.medical_note_text }}</p>

              </div>
              <div class="card-footer text-muted">
                  <div style="float: left; margin-bottom: 0px" class="row">
                          <button type="button" class="btn btn-secondary edit"  name="edit_post" data-toggle="modal"
                          data-target="#newMedicalNote">
                              <i class="fas fa-edit"></i>
                              {% trans "Редактировать" %}
                          </button>
                  </div>

                  <form method="post" action="" enctype="multipart/form-data">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger delete" name="medical_note_delete_id" value="{{ note.id }}">
                          <i class="fas fa-trash"></i>
                          {% trans "Удалить" %}
                      </button>
                  </form>
              </div>
            </div>

        {% empty %}
            {% trans 'Нет активных записей, добавьте.' %}
        {% endfor %}

        </div>
    </div>


   
    {% if user_medical_notes %}
        <div class="paginattion">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if user_medical_notes.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">{% trans 'Первая' %}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_medical_notes.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                        </li>
                    {% endif %}
                        
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ user_medical_notes.number }}<span class="sr-only">(current)</span></a>
                    </li>
                        
                    {% if user_medical_notes.has_next %}                       
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_medical_notes.next_page_number }}">{% trans 'Следующая' %}</a>
                        </li>                       
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_medical_notes.paginator.num_pages }}">{% trans 'Последняя' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}

        {% block price_edit %}

            {% include 'elements/modal_edit/medical_note_modal.html' %}

        {% endblock %}
{% endblock %}