{% block trainer_data_page %}
{% load static %}
{% load i18n %}
    <div class="page-header">
    <h2>

        <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'trainer_data_page' %}';">
            <i class="fas fa-user-graduate"></i>
            {% trans "Данные тренера" %}
        </button>

    </h2>

    </div>
    <hr>

        <div class="card">
            <h5 class="card-header">
                <i class="fas fa-user-graduate"></i>
                {% trans "Данные тренера" %}

                <button type="button" class="btn btn-light" data-toggle="modal"
                        data-target="#descriptionEdit">
                    <i class="fas fa-edit"></i>
                </button>
            </h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>
                            {% trans "Занятость тренера"%}
                        </strong>:
                        {% if fitness_trainer.trainer_employment_status %}
                            Занят
                        {% else %}
                            Свободен
                        {% endif %}
                    </li>
                    <li class="list-group-item small_text">
                        <strong>
                            {% trans "Описание тренера"%}
                        </strong>: {{ fitness_trainer.trainer_description }}</li>
                </ul>
            </div>
        </div>

    <div class="card">
            <h5 class="card-header">
                <i class="fas fa-file-alt"></i>
                {% trans "Документы тренера" %}

                <button type="button" class="btn btn-light" data-toggle="modal"
                        data-target="#descriptionEdit">
                    <i class="fas fa-plus-square "></i>
                </button>
            </h5>
            <div class="card-body">
                <div class="row">

                    {% for doc in fitness_trainer_docs %}

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card" style="width: 15rem; height: 300px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ doc.doc_title_preview }}</h5>
                                    <p class="card-text">

                                        <button type="button" class="btn btn-link">
                                            <a href="/media/{{ doc.doc_file }}">
                                                {% trans "Скачать документ" %}
                                            </a>
                                        </button>
                                    </p>

                                </div>
                                <div class="card-footer">
                                    <button type="button" value="{{doc.id}}" class="btn btn-link view_trainer_doc"
                                            data-toggle="modal" data-target="#viewDocInfo">
                                        {% trans "Детали" %}
                                    </button>

                                    <div style="float:right">
                                        <div class="dropdown show">
                                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% trans "Действия" %}
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <h6 class="dropdown-header">
                                                    {% trans "Действия с документами" %}
                                                </h6>
                                                <div class="dropdown-divider"></div>
                                                <form style="margin-bottom: 0px" method="post" action="{% url 'trainer_data_page' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <button type="submit" class="dropdown-item delete" name="param_id" value="{{ doc.id }}">
                                                        <i class="fas fa-trash"></i>
                                                        {% trans "Удалить" %}
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}

                        {% trans 'Нет документов, добавьте.' %}
                    {% endfor %}



                </div>
            </div>
        </div>


        {% block description_edit %}

            {% include 'elements/modal_edit/trainer_description_edit_modal.html' %}

        {% endblock %}
        {% block trainer_doc %}

            {% include 'elements/modal_view/trainer_doc_modal.html' %}

        {% endblock %}
{% endblock %}