{% block message %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning">
                {% elif  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                {% elif  message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info">
                {% endif %}

                    <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>
                    {{ message }}
                </div>

            {% endfor %}
{% endblock %}