{% block personal_area_profile %}
{% load static %}
{% load i18n %}
    <div class="page-header">
        <h2>{% trans 'Ваш профиль' %}</h2>
    </div>
    <hr>
    <div class="row" style="padding-bottom: 20px">

        <div class="col-md-6 col-lg-6 col-sm-12 avatar" ><!--left col-->
            {% if fitness_user.fitness_user_photo %}
                <img src="/media/{{ fitness_user.fitness_user_photo }}" class="avatar" alt="avatar">

            {% else %}
                <img src="{% static 'images/def_profile_image.png' %}" alt="{{ user.username }}" class="rounded-0">


                <h6>{% trans "Загрузите свою фотографию" %}...</h6>
                <form action method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" accept="image/jpeg,image/png,image/gif" class="text-center center-block file-upload" required>
                    <button type="submit">{% trans "Обновить фотографию" %}</button>
                </form>
            {% endif %}
            <br>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12" ><!--right col-->
            <h3>{{ user.first_name }} {{ user.last_name }}  <i class="fas fa-edit"></i></h3>

            <p class="font-weight-light">via <strong>{{ user.username }}  <i class="fas fa-edit"></i></strong>
            <hr>
            <dl class="row">
                <dt class="col-sm-4">{% trans "Тип аккаунта" %}</dt>
                <dd class="col-sm-8">{{ fitness_user.get_fitness_user_type_display }}</dd>

                <dt class="col-sm-4">{% trans "Пол" %}</dt>
                <dd class="col-sm-8">{{ fitness_user.get_fitness_user_gender_display }}</dd>

                <dt class="col-sm-4">{% trans "Город" %} <i class="fas fa-edit"></i></dt>
                <dd class="col-sm-8">{{ fitness_user.fitness_user_destination_city }}</dd>
            </dl>


        </div>

    </div>

    {% if fitness_trainer %}

        <div class="card">
            <h5 class="card-header">{% trans "Данные тренера" %}</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>
                            <i class="fas fa-edit"></i>
                            {% trans "Занятость тренера"%}
                        </strong>:
                        {% if fitness_trainer.trainer_employment_status %}
                            Занят
                        {% else %}
                            Свободен
                        {% endif %}
                    </li>
                    <li class="list-group-item small_text">
                        <strong>
                            <i class="fas fa-edit"></i>
                            {% trans "Описание тренера"%}
                        </strong>: {{ fitness_trainer.trainer_description }}</li>
                </ul>
            </div>
        </div>


            <div class="card">
                <h5 class="card-header">{% trans "Расценки тренера" %} <i class="fas fa-plus-square icon-larger"></i></h5>
                <div class="card-body">
                    {% if fitness_trainer_price %}
                        <div style="overflow-x:auto;">
                            <table class="table  table-striped table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% trans "Цена/час" %}</th>
                                    <th scope="col">{% trans "Валюта" %}</th>
                                    <th scope="col">{% trans "Торг" %}</th>
                                    <th scope="col">{% trans "Актуальность" %}</th>
                                    <th scope="col">{% trans "Коментарий" %}</th>
                                    <th scope="col">{% trans "Редактировать" %}</th>
                                    <th scope="col">{% trans "Удалить" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in fitness_trainer_price %}
                                    <tr>
                                        <td>{{ price.trainer_price_hour }}</td>
                                        <td>{{ price.trainer_price_currency }}</td>
                                        <td>
                                            {% if price.trainer_price_bargaining %}
                                                <i class="fas fa-check-circle" style="color: green"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: red"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if price.trainer_price_actuality %}
                                                <i class="fas fa-check-circle" style="color: green"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: red"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ price.trainer_price_comment }}</td>
                                        <td><i class="fas fa-edit"></i></td>
                                        <td><i class="fas fa-trash-alt"></i></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        {% trans 'Нет активных расценок, добавьте.' %} <i class="fas fa-plus-square"></i>
                    {% endif %}
                </div>
            </div>

        {% if fitness_trainer_docs %}

                <div class="card">
                    <h5 class="card-header">{% trans "Документы тренера" %}  <i class="fas fa-plus-square icon-larger"></i></h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">

                            {% for doc in fitness_trainer_docs %}

                                <li class="list-group-item small_text">
                                    <i class="fas fa-edit"></i>
                                    {{ doc.doc_title }}
                                    <br>
                                    <button type="button" class="btn btn-link">
                                        <a href="/media/{{ doc.doc_file }}">
                                            {% trans "Скачать документ" %} - {{ doc.filename }}
                                        </a>
                                    </button>
                                </li>


                            {% endfor %}

                        </ul>
                    </div>
                </div>

        {% endif %}

    {% endif %}
{% endblock %}