{% block personal_area_profile %}
{% load static %}
{% load i18n %}
    <div class="page-header">
        <h2>{% trans 'Ваш профиль' %}</h2>
    </div>
    <hr>
    <div class="row" style="padding-bottom: 20px">

        <div class="col-md-6 col-lg-6 col-sm-12 avatar" ><!--left col-->
            {% if fitness_user.fitness_user_photo %}
                <img src="/media/{{ fitness_user.fitness_user_photo }}" class="avatar" alt="avatar">

            {% else %}
                <img src="{% static 'images/def_profile_image.png' %}" alt="{{ user.username }}" class="rounded-0">


                <h6>{% trans "Загрузите свою фотографию" %}...</h6>
                <form action method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" accept="image/jpeg,image/png,image/gif" class="text-center center-block file-upload" required>
                    <button type="submit">{% trans "Обновить фотографию" %}</button>
                </form>
            {% endif %}
            <br>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12" ><!--right col-->
            <h3>{{ user.first_name }} {{ user.last_name }} </h3>

            <p class="font-weight-light">via <strong>{{ user.username }}  </strong>
            <hr>
            <dl class="row">
                <dt class="col-sm-4">{% trans "Дата рождения" %} </dt>
                <dd class="col-sm-8">{{ fitness_user.fitness_user_bdate }} </dd>

                <dt class="col-sm-4">{% trans "Тип аккаунта" %}</dt>
                <dd class="col-sm-8">{{ fitness_user.get_fitness_user_type_display }}</dd>

                <dt class="col-sm-4">{% trans "Пол" %}</dt>
                <dd class="col-sm-8">{{ fitness_user.get_fitness_user_gender_display }}</dd>

                <dt class="col-sm-4">{% trans "Город" %} </dt>
                <dd class="col-sm-8">{{ fitness_user.fitness_user_destination_city }}</dd>
            </dl>


        </div>

    </div>

    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">
                <i class="fas fa-chart-area"></i>
                {% trans "Ваши параметры" %}
            </button>
            <button type="button" class="btn btn-light" data-toggle="modal"
                    data-target="">
                <i class="fas fa-plus-square "></i>
            </button>
        </h5>

        <div class="card-body">
            <div class="row">
                {% for param in user_body_params %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" style="width: 15rem; height: 300px">
                          <div class="card-body">
                            <h5 class="card-title">{{ param.user_parameter.title_short }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ param.body_datetime }}</h6>
                            <p class="card-text">{{ param.body_data }}</p>

                          </div>
                            <div class="card-footer">
                                <button type="button" value="{{param.id}}" class="btn btn-link view_gym"
                                        data-toggle="modal" data-target="#viewGymDestination">
                                    {% trans "Детали" %}
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'Нет ваших параметров, добавьте.' %}
                {% endfor %}
            </div>

        <canvas id="canvas" class="chartjs-render-monitor"
                style="display: block; width: 100%; height: 30%;"></canvas>
        </div>
    </div>
<script>

		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var config = {
			type: 'line',
			data: {
				labels: [{% for param_date in user_body_params %} '{{ param_date.datetime_to_date }}' , {% endfor %}],
				datasets: [{
					label: '{% trans "Ваши параметры" %}',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
					    ],
					    fill: false,
                    },
                        {
                          label: '{% trans "Цель" %}',
                          data: [50, 50, 50, 50, 80, 90, 50, 50, 20, 50, 50, 50, 50],

                          // Changes this dataset to become a line
                          type: 'line'
                        }
                    ]
			},
			options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: '{% trans "Даты" %}'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: '{% trans "Значения, ЕДИНИЦЫ ИЗМЕРЕНИЯ" %}'
						},
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};


	</script>

    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'user_gyms' %}';">
                <i class="fas fa-map-marked-alt"></i>
                {% trans "Ваши залы" %}
            </button>
            <button type="button" class="btn btn-light" data-toggle="modal"
                    data-target="#newGymDestination">
                <i class="fas fa-plus-square "></i>
            </button>
        </h5>

        <div class="card-body">
            <div class="row">
                {% for gym in user_gyms %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" style="width: 15rem; height: 300px">
                          <div class="card-body">
                            <h5 class="card-title">{{ gym.gym_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ gym.gym_destination }}</h6>
                            <p class="card-text">{{ gym.gym_short_description }}</p>

                          </div>
                            <div class="card-footer">
                                <button type="button" value="{{gym.id}}" class="btn btn-link view_gym"
                                        data-toggle="modal" data-target="#viewGymDestination">
                                    {% trans "Детали" %}
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'Нет ваших залов, добавьте.' %}
                {% endfor %}
            </div>

        <div id="map" style="height:30%"></div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">{% trans "Ваши тренеровки" %} <i class="fas fa-plus-square"></i></h5>
        <div class="card-body">
            <div class="row">
                {% for train in user_training_schedule %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" style="width: 15rem; height: 270px">
                            <div class="card-body">
                                <h5 class="card-title">{{ train.schedule_date }} {% trans "в" %} {{ train.gym_short }} [ДОЛЖНА БЫТЬ ССЫЛКА НА СТАРНИЦУ ЗАЛА С КАРТОЙ]<i class="fas fa-map-marker-alt"></i></h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ train.schedule_train_type }}</h6>

                                {% if train.schedule_exercise_set %}

                                    <p class="card-text"><strong>{% trans 'План' %}</strong>: {{ train.schedule_exercise_set.short_title }}</p>

                                {% endif %}

                                <p class="card-text">{% trans 'С' %} {{ train.schedule_train_start }} {% trans 'до' %} {{ train.schedule_train_end }} <i class="fas fa-clock"></i></p>

                                {% if train.get_all_tags %}
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <strong>{% trans 'Теги' %}</strong>:

                                          {% for tag in  train.get_all_tags %}

                                              <a href="#" class="badge badge-pill badge-info">#{{ tag }}</a>

                                          {% endfor %}

                                    </h6>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'Нет тренеровок в расписании, добавьте.' %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="card">
        <h5 class="card-header">{% trans "Ваши фотографии" %} <i class="fas fa-plus-square"></i></h5>
        <div class="card-body">
            <div class="row">
                {% for photo in user_projection_photos %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" style="width: 12rem; height: 360px">
                            <img class="card-img-top" height="220px" width="100%" src="/media/{{ photo.projection_view_photo }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ photo.get_projection_view_type_display }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ photo.projection_view_date }}</h6>


                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'Нет фотографий, добавьте.' %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'user_medical' %}';">
                <i class="fas fa-notes-medical"></i>
                {% trans "Ваши записи" %}
            </button>
            <button type="button" class="btn btn-light" id="new_trainer_price" data-toggle="modal"
                    data-target="#newMedicalNote">
                <i class="fas fa-plus-square "></i>
            </button></h5>
        <div class="card-body">
            <div class="row">
                {% for medical_note in user_medical_notes %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" style="width: 15rem; height: 300px">
                          <div class="card-body">
                            <h5 class="card-title">{{ medical_note.short_title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ medical_note.medical_note_datetime }}</h6>
                            <p class="card-text">{{ medical_note.short_text }}</p>

                              {% if medical_note.medical_note_tags %}
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>
                                        {% trans 'Теги' %}</strong>:

                                          {% for tag in  medical_note.get_all_tags %}

                                              <a href="{% url 'user_medical' tag %}" class="badge badge-pill badge-info">#{{ tag }}</a>

                                          {% endfor %}
                                    </h6>
                              {% endif %}
                          </div>
                            <div class="card-footer text-muted">
                                <button type="button" value="{{medical_note.id}}" class="btn btn-link view_medical" data-toggle="modal" data-target="#viewMedicalNote">
                                    {% trans "Детали" %}
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'Нет ваших записей, добавьте.' %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'user_diary' %}';">
                <i class="fas fa-book-open"></i>
                {% trans "Ваш дневник" %}
            </button>
            <button type="button" class="btn btn-light" id="new_trainer_price" data-toggle="modal"
                    data-target="#newDiaryNote">
                <i class="fas fa-plus-square "></i>
            </button>
        </h5>
        <div class="card-body">
            <div class="row">
                {% for usual_note in user_usual_notes %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card" style="width: 15rem; height: 300px">
                          <div class="card-body">
                            <h5 class="card-title">
                                    {{ usual_note.short_title }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ usual_note.diary_note_datetime }}</h6>
                            <p class="card-text">{{ usual_note.short_text }}</p>

                              {% if usual_note.diary_note_tags %}
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>
                                        {% trans 'Теги' %}</strong>:

                                          {% for tag in  usual_note.get_all_tags %}

                                              <a href="{% url 'user_diary' tag %}" class="badge badge-pill badge-info">#{{ tag }}</a>

                                          {% endfor %}
                                    </h6>
                              {% endif %}
                          </div>
                            <div class="card-footer">
                                <button type="button" value="{{usual_note.id}}" class="btn btn-link view_diary" data-toggle="modal" data-target="#viewDiaryNote">
                                    {% trans "Детали" %}
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'Нет ваших записей, добавьте.' %}
                {% endfor %}
            </div>
        </div>
    </div>



    {% if not fitness_trainer %}

        <div class="card">
            <h5 class="card-header">{% trans "Ваши контракты" %} <i class="fas fa-plus-square"></i></h5>
            <div class="card-body">
                <div class="row">
                    {% for contract in user_train_contracts %}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card
                                        {% if not contract.contract_trainer_start %}
                                            bg-danger"
                                        {% elif not contract.contract_ward_start %}
                                             bg-danger"
                                        {% elif not contract.contract_trainer_end and not contract.contract_ward_end %}
                                             bg-success"
                                        {% elif contract.contract_ward_end and not contract.contract_trainer_end %}
                                              bg-info"
                                        {% else %}
                                            bg-warning"
                                        {% endif %}


                                 style="width: 17rem; height: 250px;">
                                <div class="card-body">
                                    <p class="card-text"><strong>{% trans 'Тренер' %}</strong>: {{ contract.contract_trainer_user.user.user.first_name }} {{ contract.contract_trainer_user.user.user.last_name }}</p>
                                    <p class="card-text"><strong>{% trans 'Подопечный' %}</strong>: {{ contract.contract_ward_user.user.first_name }} {{ contract.contract_ward_user.user.last_name }}</p>

                                    <p class="card-text"><strong>{% trans 'Цена' %}</strong>: {{ contract.contract_hour_price }} {{ contract.contract_currency }}</p>

                                    <p class="card-text"><strong>{% trans 'Начало' %}</strong>: {{ contract.contract_create_datetime }}</p>

                                    <p class="card-text"><strong>{% trans 'Окончание' %}</strong>: {{ contract.contract_expire_datetime }}</p>


                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {% trans 'Нет контрактов, создайте.' %} <i class="fas fa-plus-square"></i>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}


    {% if fitness_user.fitness_user_type == fitness_user.teacher_user %}

        <div class="card">
            <h5 class="card-header">{% trans "Данные тренера" %}
                <button type="button" class="btn btn-outline-primary" id="price_edit_btn" data-toggle="modal"
                        data-target="#descriptionEdit">
                    <i class="fas fa-edit"></i>
                </button></h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>
                            {% trans "Занятость тренера"%}
                        </strong>:
                        {% if fitness_trainer.trainer_employment_status %}
                            Занят
                        {% else %}
                            Свободен
                        {% endif %}
                    </li>
                    <li class="list-group-item small_text">
                        <strong>
                            {% trans "Описание тренера"%}
                        </strong>: {{ fitness_trainer.trainer_description }}</li>
                </ul>
            </div>
        </div>




        <div class="card">
            <h5 class="card-header">
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'trainer_price' %}';">
                            <i class="fas fa-dollar-sign"></i>
                        {% trans "Расценки тренера" %}
                    </button>
                <button type="button" class="btn btn-light" id="new_trainer_price" data-toggle="modal"
                        data-target="#priceEdit">
                    <i class="fas fa-plus-square "></i>
                </button>
            </h5>
            <div class="card-body">
                {% if fitness_trainer_price %}
                    <div style="overflow-x:auto;">
                        <table class="table  table-striped table-bordered" id="trainer_prices_table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" hidden>№</th>
                                <th scope="col">{% trans "Цена/час" %}</th>
                                <th scope="col">{% trans "Валюта" %}</th>
                                <th scope="col">{% trans "Торг" %}</th>
                                <th scope="col">{% trans "Актуальность" %}</th>
                                <th scope="col">{% trans "Коментарий" %}</th>
                                <th scope="col">{% trans "Редактирование" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for price in fitness_trainer_price %}
                                <tr>
                                    <td hidden>{{ price.id }}</td>
                                    <td>{{ price.trainer_price_hour }}</td>
                                    <td>{{ price.trainer_price_currency }}</td>
                                    <td>
                                        {% if price.trainer_price_bargaining %}
                                            <p hidden>True</p>
                                            <i class="fas fa-check-circle" style="color: green"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle" style="color: red"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if price.trainer_price_actuality %}
                                            <p hidden>True</p>
                                            <i class="fas fa-check-circle" style="color: green"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle" style="color: red"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ price.trainer_price_comment }}</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" id="price_edit_btn" data-toggle="modal"
                                                data-target="#priceEdit">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    {% trans 'Нет активных расценок, добавьте.' %}
                {% endif %}
            </div>
        </div>



        <div class="card">
            <h5 class="card-header">{% trans "Ваши контракты" %} <i class="fas fa-plus-square"></i></h5>
            <div class="card-body">
                <div class="row">
                    {% for contract in fitness_trainer_contracts %}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card
                                        {% if not contract.contract_trainer_start %}
                                            bg-danger"
                                        {% elif not contract.contract_ward_start %}
                                             bg-danger"
                                        {% elif not contract.contract_trainer_end and not contract.contract_ward_end %}
                                             bg-success"
                                        {% elif contract.contract_ward_end and not contract.contract_trainer_end %}
                                              bg-info"
                                        {% else %}
                                            bg-warning"
                                        {% endif %}


                                    style="width: 17rem;
                                        height: 250px;">
                                <div class="card-body">
                                    <p class="card-text"><strong>{% trans 'Тренер' %}</strong>: {{ contract.contract_trainer_user.user.user.first_name }} {{ contract.contract_trainer_user.user.user.last_name }}</p>
                                    <p class="card-text"><strong>{% trans 'Подопечный' %}</strong>: {{ contract.contract_ward_user.user.first_name }} {{ contract.contract_ward_user.user.last_name }}</p>

                                    <p class="card-text"><strong>{% trans 'Цена' %}</strong>: {{ contract.contract_hour_price }} {{ contract.contract_currency }}</p>

                                    <p class="card-text"><strong>{% trans 'Начало' %}</strong>: {{ contract.contract_create_datetime }}</p>

                                    <p class="card-text"><strong>{% trans 'Окончание' %}</strong>: {{ contract.contract_expire_datetime }}</p>

                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {% trans 'Нет контрактов, создайте.' %} <i class="fas fa-plus-square"></i>
                    {% endfor %}
                </div>
            </div>
        </div>



        {% if fitness_trainer_docs %}

                <div class="card">
                    <h5 class="card-header">{% trans "Документы тренера" %}  <i class="fas fa-plus-square"></i></h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">

                            {% for doc in fitness_trainer_docs %}

                                <li class="list-group-item small_text">
                                    {{ doc.doc_title }}
                                    <br>
                                    <button type="button" class="btn btn-link">
                                        <a href="/media/{{ doc.doc_file }}">
                                            {% trans "Скачать документ" %} - {{ doc.filename }}
                                        </a>
                                    </button>
                                </li>


                            {% endfor %}

                        </ul>
                    </div>
                </div>

        {% endif %}


        {% block price_edit %}

            {% include 'elements/modal_edit/price_edit_modal.html' %}

        {% endblock %}
        {% block description_edit %}

            {% include 'elements/modal_edit/trainer_description_edit_modal.html' %}

        {% endblock %}



    {% endif %}



    {% block gym_modal %}

        {% include 'elements/modal_edit/gym_modal.html' %}
        {% include 'elements/modal_view/gym_modal.html' %}

    {% endblock %}
    {% block medical_note %}

        {% include 'elements/modal_view/medical_note_modal.html' %}

    {% endblock %}
    {% block diary_note %}

        {% include 'elements/modal_view/diary_note_modal.html' %}

    {% endblock %}



        <script type="text/python">
            from browser import document as doc, alert, ajax, window, html
            import json
            import urllib
        
            csrf_token = doc.get(name='csrfmiddlewaretoken')[0].value


            def fill_diary_modal(response):
                # clean inputs
                doc["diary_note_modal_title"].text = ''
                doc["diary_note_modal_text"].text = ''
                doc["diary_note_modal_datetime"].text = ''
                doc["diary_note_modal_tags"].text = ''

                # insert new data
                doc['diary_note_modal_title'] <= response['diary_note_title']
                doc['diary_note_modal_text'] <= response['diary_note_text']
                doc['diary_note_modal_datetime'] <= response['diary_note_datetime']
                for tag in response['diary_note_tags']:
                    # crete new <a> element and set class (for tags)
                    link = html.A(Class = "badge badge-pill badge-info")
                    # add href fro tags
                    link.href = "{% url 'user_diary' %}tag-"+tag
                    # add text to <a>
                    link <= "#"+tag

                    # add <a> to HTML element
                    doc['diary_note_modal_tags'] <= link

            def on_complete_diary(req):
                json_response = json.loads(req.text)
                # if NOT success geting data
                if req.status!=200 and json_response['answer']!=True:
                    alert(json_response['error_answer'])
                else:
                    fill_diary_modal(json_response['diary_note'])
                        
            def get_data_diary(ev):
                # get diary note ID and set to GET request param
                qs = "diary_note_id="+ev.currentTarget.value

                req = ajax.ajax()
                req.bind('complete',on_complete_diary)
                # send a POST request to the url
                req.open("GET","{% url 'user_diary' %}"+"?"+qs,True)
                # set headers
                req.set_header('content-type','application/x-www-form-urlencoded')
                req.set_header('accept','text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8')
                # set header for Django .is_ajax() method
                req.set_header('X-Requested-With','XMLHttpRequest')

                req.send()


            """
            Fill modal window MEDICAL data
            """  
            def fill_medical_modal(response):
                # clean inputs
                doc["medical_note_modal_title"].text = ''
                doc["medical_note_modal_text"].text = ''
                doc["medical_note_modal_datetime"].text = ''
                doc["medical_note_modal_tags"].text = ''
    
                # insert new data
                doc['medical_note_modal_title'] <= response['medical_note_title']
                doc['medical_note_modal_text'] <= response['medical_note_text']
                doc['medical_note_modal_datetime'] <= response['medical_note_datetime']
                for tag in response['medical_note_tags']:
                    # crete new <a> element and set class (for tags)
                    link = html.A(Class = "badge badge-pill badge-info")
                    # add href fro tags
                    link.href = "{% url 'user_medical' %}tag-"+tag
                    # add text to <a>
                    link <= "#"+tag
    
                    # add <a> to HTML element
                    doc['medical_note_modal_tags'] <= link
    
            """
            AJAX-get response for MEDICAL notes
            """              
            def on_complete_medical(req):
                json_response = json.loads(req.text)
                # if NOT success geting data
                if req.status!=200 and json_response['answer']!=True:
                    alert(json_response['error_answer'])
                else:
                    fill_medical_modal(json_response['medical_note'])
            
            """
            AJAX-get request for MEDICAL notes
            """            
            def get_data_medical(ev):
                # get medical note ID and set to GET request param
                qs = "medical_note_id="+ev.currentTarget.value
    
                req = ajax.ajax()
                req.bind('complete',on_complete_medical)
                # send a POST request to the url
                req.open("GET","{% url 'user_medical' %}"+"?"+qs,True)
                # set headers
                req.set_header('content-type','application/x-www-form-urlencoded')
                req.set_header('accept','text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8')
                # set header for Django .is_ajax() method
                req.set_header('X-Requested-With','XMLHttpRequest')
    
                req.send()
 

            """
            Fill modal window GYM data
            """  
            def fill_gym_modal(response):
                # add marker on map
                window.add_gym_view_marker(response)
                # clean old data
                doc["gym_title_view_id"].text = ''
                doc["gym_description_view_id"].text = ''
                doc["gym_adress_view_id"].text = ''
        
                # insert new data
                doc['gym_title_view_id'] <= response['gym_name']
                doc['gym_description_view_id'] <= response['gym_description']
                doc['gym_adress_view_id'] <= response['gym_destination']
                
            """
            AJAX-get response for GYMS object
            """                 
            def on_complete_gym(req):
                json_response = json.loads(req.text)
                # if NOT success geting data
                if req.status!=200 and json_response['answer']!=True:
                    alert(json_response['error_answer'])
                else:
                    fill_gym_modal(json_response['gym_data'])
             
            """
            AJAX-get request for GYM object
            """ 
            def get_data_gym(ev):
                # get medical note ID and set to GET request param
                qs = "gym_object_id="+ev.currentTarget.value
    
                req = ajax.ajax()
                req.bind('complete',on_complete_gym)
                # send a POST request to the url
                req.open("GET","{% url 'user_gyms' %}"+"?"+qs,True)
                # set headers
                req.set_header('content-type','application/x-www-form-urlencoded')
                req.set_header('accept','text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8')
                # set header for Django .is_ajax() method
                req.set_header('X-Requested-With','XMLHttpRequest')
    
                req.send()

            # bind all medical objects to func
            for element in doc.select('.btn.btn-link.view_medical'):
                element.bind("click", get_data_medical)
        
            # bind all diary objects to func
            for element in doc.select('.btn.btn-link.view_diary'):
                element.bind("click", get_data_diary)
        
            # bind all gyms objects to func
            for element in doc.select('.btn.btn-link.view_gym'):
                element.bind("click", get_data_gym)
        </script>
        <script>
        function add_gym_view_marker(gym_data) {
            var markers = [];
            // центрируем карту на новой точке - зале
            map_detail.setCenter({lat: gym_data.gym_geo.lat, lng: gym_data.gym_geo.lng});
                map_detail.setZoom(18);
                
                var shape = {
                    coords: [1, 1, 1, 20, 18, 20, 18, 1],
                    type: 'poly'
                  };
                
                // удаляем старые маркеры
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];

                // добавляем новый маркер зала
                var marker = new google.maps.Marker({
                    position: {lat: gym_data.gym_geo.lat, lng: gym_data.gym_geo.lng},
                    map: map_detail,
                    shape: shape,
                    label:'G',
                    title: gym_data.gym_name,
                  });
                  attachModalSecretMessage(marker, gym_data.gym_name);

                  markers.push(marker);
           
            // добавляем сообщение к маркеру на карте во всплывающем окне
            function attachModalSecretMessage(marker, secretMessage) {
                var infowindow = new google.maps.InfoWindow({
                content: secretMessage
                });
        
                marker.addListener('click', function() {
                    infowindow.open(map_detail, marker);
                });
            }
           
        }
        </script>
{% endblock %}