{% block modal_message %}
{% load i18n %}

    <div class="modal fade" tabindex="-1" role="dialog"  id="messageModal" aria-labelledby="messageModalLabel" aria-hidden="true">>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">

                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            {% trans 'Ошибка' %}
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            {% trans 'Внимание' %}
                        {% elif  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            {% trans 'Успех' %}
                        {% elif  message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                            {% trans 'Информация' %}
                        {% else %}
                            {% trans 'Сообщение' %}
                        {% endif %}
                    {% endfor %}

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {% for message in messages %}
                      <p>{{ message }}</p>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}