{% block medical_note %}
{% load static %}
{% load i18n %}
    <!-- The Modal -->
    <div class="modal fade  bd-example-modal-lg" id="newMedicalNote">
        <div class="modal-dialog   modal-lg"">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fas fa-notes-medical"></i>
                        {% trans "Ваши записи" %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form name="new_medical_note" method="post" action="" id="new_medical_note" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Modal body -->
                    <div class="modal-body">
                        <dl class="row">
                            <dt class="col-sm-4" style="padding-bottom: 20px">{% trans "Название записи"%}</dt>
                            <dd class="col-sm-8"><input type="text" required name="medical_note_title" maxlength="100"></dd>

                            <dt class="col-sm-4" style="padding-bottom: 20px">{% trans "Текст записи"%}</dt>
                            <dd class="col-sm-8"><textarea class="form-control" type="text" name="medical_note_text"  maxlength="4000" required></textarea></dd>

                            <dt class="col-sm-4" style="padding-bottom: 20px">{% trans "Теги записи, через запятую"%}</dt>
                            <dd class="col-sm-8"><input type="text" required name="medical_note_tags" maxlength="50"></dd>
                        </dl>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" name="new_medical_note_btn">{% trans "Сохранить" %}</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Закрыть" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
    $("#new_medical_note").submit(function(e) {
        $.ajax({
            type: "POST",
            url: "{% url 'user_medical' %}",
            data: $("#new_medical_note").serialize(), // serializes the form's elements.
            success: function(data)
            {
                if (data.answer === true)
                    window.location.reload(true);
                else {
                    alert(data.error_answer)
                }
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>
{% endblock %}