{% block message %}
{% load i18n %}
    <!-- The Modal -->
    <div class="modal fade" id="priceEdit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Расценки тренера" %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form name="price_edit" method="post" action="" id="price_edit" enctype="multipart/form-data">
                    <!-- Modal body -->
                    <div class="modal-body">
                            {% csrf_token %}
                            <input hidden id="price_id_modal" type="number" name="price_id" value="0" required>
                            <dl class="row">
                                <dt class="col-sm-4">{% trans "Цена/час" %} </dt>
                                <dd class="col-sm-8"><input  type="number" step="0.01" required name="trainer_price_hour" id="price_modal"> </dd>

                                <dt class="col-sm-4">{% trans "Коментарий" %}</dt>
                                <dd class="col-sm-8"><input type="text" name="trainer_price_comment"  maxlength="100" required id="price_comment_modal"> </dd>

                                <dt class="col-sm-4">{% trans "Валюта" %}</dt>
                                <dd class="col-sm-8">

                                    <select required name="trainer_price_currency" id="price_currency_modal" >
                                        <option selected value="">{% trans "Выберите валюту" %}</option>
                                        <option value="USD">America Dollars – USD</option>
                                        <option value="EUR">Euro – EUR</option>
                                        <option value="BYN">Belarus – BYN</option>
                                        <option value="RUB">Russia Rubles – RUB</option>
                                        <option value="UAH">Ukraine Hryvnia – UAH</option>
                                    </select>
                                </dd>

                                <dt class="col-sm-4">{% trans "Торг" %} </dt>
                                <dd class="col-sm-8"><input type="checkbox" name="trainer_price_bargaining"  id="price_bargain_modal"></dd>

                                <dt class="col-sm-4">{% trans "Актуальность" %} </dt>
                                <dd class="col-sm-8"><input type="checkbox" name="trainer_price_actuality"  id="price_actual_modal"></dd>
                            </dl>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">{% trans "Сохранить" %}</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Закрыть" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
    $("#price_edit").submit(function(e) {
        $.ajax({
            type: "POST",
            url: "{% url 'trainer_price_edit' %}",
            data: $("#price_edit").serialize(), // serializes the form's elements.
            success: function(data)
            {
                if (data.answer === true)
                    window.location.reload(true);
                else {
                    alert(data.error_answer)
                }
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>
{% endblock %}