{% block gyms %}
{% load static %}
{% load i18n %}
    <div class="page-header">
        <h2>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'user_gyms' %}';">
                <i class="fas fa-map-marked-alt"></i>
                {% trans "Ваши залы" %}
            </button>
            <button type="button" class="btn btn-light" id="create_diary_note" data-toggle="modal"
                    data-target="#newGymDestination">
                <i class="fas fa-plus-square "></i>
            </button>
        </h2>
    </div>
    <hr>
    
    <div class="row" style="padding-bottom: 20px">
            <div class="col-12">
    
                <div class="card">
                    <h5 class="card-header">{% trans "Залы" %}
                    </h5>
                    <div class="card-body">
                        {% if fitness_user_gyms %}
                            <div style="overflow-x:auto;">
                                <table class="table  table-striped table-bordered" id="trainer_prices_table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col" hidden>№</th>
                                        <th scope="col">{% trans "Название" %}</th>
                                        <th scope="col">{% trans "Описание" %}</th>
                                        <th scope="col">{% trans "Адрес" %}</th>
                                        <th scope="col">{% trans "Карта" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for gym in fitness_user_gyms %}
                                        <tr>
                                            <td hidden>{{ gym.id }}</td>
                                            <td>{{ gym.gym_short_name }}</td>
                                            <td>{{ gym.gym_short_description }}</td>
                                            <td>{{ gym.gym_destination }}</td>
                                            
                                            <td>
                                                <button type="button" class="btn btn-outline-primary" id="price_edit_btn" data-toggle="modal"
                                                        data-target="#priceEdit">
                                                        <i class="fas fa-map-marker"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            {% trans 'Нет залов, добавьте.' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div id="map" style="height:30%"></div>


    <script>
        jQuery(document).ready(function(){
            $( "button.btn.btn-secondary.edit" ).click(function() {
                var diary_dom = $(this).closest("div.card.text-center");

                var diary_tags = diary_dom.find('.card-header').find('.tags');

                var diary_note_id = diary_dom.find('.card-body').find('.diary_note_id');

                var diary_title = diary_dom.find('.card-body').find('.card-title');
                var diary_text = diary_dom.find('.card-body').find('.card-text.text-justify');

                $("#diary_note_tags_id").val($.trim(diary_tags.text()).replace(/ +(?= )/g,'').replace(/[#]/g, '').replace(/\s+/g, ', '));
                $("#diary_note_title_id").val($.trim(diary_title.text()));
                $("#diary_note_text_id").val(diary_text.text());
                $("#diary_note_edit").val(diary_note_id.text());
            });
        });
    </script>
    <script type="text/python">
        from browser import document as doc, alert, ajax, window
    
        def clear_inputs(ev):
            #doc["diary_note_tags_id"].val = ''
            #doc["diary_note_title_id"].val = ''
            #doc["diary_note_text_id"].val = ''   
            #doc["diary_note_edit"].val = -1 
            pass    
        #doc["create_diary_note"].bind("click", clear_inputs)
    </script>  
  
    {% block gym_modal %}

        {% include 'elements/modal_edit/gym_modal.html' %}
    
    {% endblock %}  

{% endblock %}