{% block personal_area_profile %}
{% load static %}
{% load i18n %}
    <div class="page-header">
        <h2>{% trans 'Ваши расценки' %}</h2>
    </div>
    <hr>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-12">

            <div class="card">
                <h5 class="card-header">{% trans "Расценки тренера" %}
                    <button type="button" class="btn btn-light" id="new_trainer_price" data-toggle="modal"
                            data-target="#priceEdit">
                        <i class="fas fa-plus-square "></i>
                    </button>
                </h5>
                <div class="card-body">
                    {% if fitness_trainer_price %}
                        <div style="overflow-x:auto;">
                            <table class="table  table-striped table-bordered" id="trainer_prices_table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" hidden>№</th>
                                    <th scope="col">{% trans "Цена/час" %}</th>
                                    <th scope="col">{% trans "Валюта" %}</th>
                                    <th scope="col">{% trans "Торг" %}</th>
                                    <th scope="col">{% trans "Актуальность" %}</th>
                                    <th scope="col">{% trans "Коментарий" %}</th>
                                    <th scope="col">{% trans "Редактирование" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in fitness_trainer_price %}
                                    <tr>
                                        <td hidden>{{ price.id }}</td>
                                        <td>{{ price.trainer_price_hour }}</td>
                                        <td>{{ price.trainer_price_currency }}</td>
                                        <td>
                                            {% if price.trainer_price_bargaining %}
                                                <p hidden>True</p>
                                                <i class="fas fa-check-circle" style="color: green"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: red"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if price.trainer_price_actuality %}
                                                <p hidden>True</p>
                                                <i class="fas fa-check-circle" style="color: green"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: red"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ price.trainer_price_comment }}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary" id="price_edit_btn" data-toggle="modal"
                                                    data-target="#priceEdit">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        {% trans 'Нет активных расценок, добавьте.' %} <i class="fas fa-plus-square"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

        {% block price_edit %}

            {% include 'elements/modal/medical_note_modal.html' %}

        {% endblock %}

{% endblock %}