{% block medical_notes %}
{% load static %}
{% load i18n %}
    <div class="page-header">
    <h2>
    <i class="fas fa-notes-medical"></i>

        {% trans "Ваши записи" %}
        <button type="button" class="btn btn-light" id="create_medical_note" data-toggle="modal"
                data-target="#newMedicalNote">
            <i class="fas fa-plus-square "></i>
        </button></h2>

    </div>
    <hr>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-12">

        {% for note in user_medical_notes %}

            <div class="card text-center">
              <div class="card-header">
                  <div style="float: left">
                      {{ note.medical_note_datetime }}
                  </div>
                  <div style="float: right" class="tags">
                      {% for tag in  note.get_all_tags %}

                          <a href="{% url 'user_medical' tag %}" class="badge badge-pill badge-info">#{{ tag }}</a>

                      {% endfor %}
                  </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                    {{ note.medical_note_title }}
                </h5>
                <p class="card-text text-justify">{{ note.medical_note_text }}</p>

              </div>
              <div class="card-footer text-muted">
                  <div style="float: left; margin-bottom: 0px" class="row">
                          <button type="button" class="btn btn-secondary edit"  name="edit_post" data-toggle="modal"
                          data-target="#newMedicalNote">
                              <i class="fas fa-edit"></i>
                              {% trans "Редактировать" %}
                          </button>
                  </div>

                  <form style="float: right; margin-bottom: 0px" method="post" action="" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input hidden name="medical_note_delete_id" value="{{ note.id }}">
                      <button type="submit" class="btn btn-danger">
                          <i class="fas fa-trash"></i>
                          {% trans "Удалить" %}
                      </button>
                  </form>
              </div>
            </div>

        {% empty %}
            {% trans 'Нет активных записей, добавьте.' %} <i class="fas fa-plus-square"></i>
        {% endfor %}

        </div>
    </div>
        {% block price_edit %}

            {% include 'elements/modal_edit/medical_note_modal.html' %}

        {% endblock %}

        <script>
            jQuery(document).ready(function(){
                $( "button.btn.btn-secondary.edit" ).click(function() {
                    var diary_dom = $(this).closest("div.card.text-center");
    
                    var diary_tags = diary_dom.find('.card-header').find('.tags');
    
                    var diary_title = diary_dom.find('.card-body').find('.card-title');
                    var diary_text = diary_dom.find('.card-body').find('.card-text.text-justify');
    
                    $("#medical_note_tags_id").val($.trim(diary_tags.text()).replace(/ +(?= )/g,'').replace(/[#]/g, '').replace(/\s+/g, ', '));
                    $("#medical_note_title_id").val($.trim(diary_title.text()));
                    $("#medical_note_text_id").val(diary_text.text());
                });
            });
        </script>
        <script type="text/python">
            from browser import document as doc, alert, ajax, window
        
            def clear_inputs(ev):
                doc["medical_note_tags_id"].val = ''
                doc["medical_note_title_id"].val = ''
                doc["medical_note_text_id"].val = ''    
        
            doc["create_medical_note"].bind("click", clear_inputs)
        
        </script> 
{% endblock %}