{% block registration %}
{% load static %}
    <link href="{% static "/css/registration.css" %}" rel="stylesheet">
    <form class="form-signin" name="new_account" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <img class="mb-4" src="{% static '/images/login_img.ico' %}" alt="" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

        <div class="alert alert-warning">
            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Будет использоваться для входа
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-user-astronaut"></i></span>
            </div>
            <input name="username" required class="form-control" placeholder="Придумайте имя пользователя" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-address-card"></i></span>
            </div>
            <input name="name" required class="form-control" placeholder="Введите имя" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-address-card"></i></span>
            </div>
            <input name="surname" required class="form-control" placeholder="Введите фамилию" type="text">
        </div>

        <div class="form-group input-group gender">

            <div class="input-group-prepend gender">
                <span class="input-group-text select"> Выберите пол</span>
            </div>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" title="Мужской">
                    <input type="radio" name="gender" value="male" autocomplete="off">
                    <i class="fas fa-male"></i>
                </label>
                <label class="btn btn-secondary" title="Женский">
                    <input type="radio" name="gender" value="female" autocomplete="off">
                    <i class="fas fa-female"></i>
                </label>
                <label class="btn btn-secondary active" title="Секрет">
                    <input type="radio" name="gender" value="secret" autocomplete="off" checked>
                    <i class="fas fa-user-secret"></i>
                </label>
            </div>
        </div>

        <div class="alert alert-danger">
            Выберите тип вашего аккаунта: <strong>тренер</strong> или <strong>тренерующийся</strong>.
            <p>В дальнейшем нельзя изменить.
            <a href="http://google.com">Узнать разницу</a>
        </div>

        <div class="form-group input-group gender">

            <div class="input-group-prepend gender">
                <span class="input-group-text select">Тип аккаунта</span>
            </div>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="type btn btn-secondary" title="Тренер">
                    <input type="radio" name="account_type" value="trainer" autocomplete="off">
                    <i class="fas fa-dumbbell"></i>
                </label>
                <label class="type btn btn-secondary active" title="Тренерующийся">
                    <input type="radio" name="account_type" value="ward" autocomplete="off" checked>
                    <i class="fas fa-child"></i>
                </label>
            </div>
        </div>

        <div class="alert alert-warning">
            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>
            На e-mail будет выслана ссылка для активации аккаунта
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-envelope"></i></span>
            </div>
            <input name="e-mail" required class="form-control" placeholder="E-mail" type="email">
        </div>

        <div class="alert alert-danger" style="display: none" id="password_error">
            Неверно введёны пароли!
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-key"></i></span>
            </div>
            <input name="password" id="first_pass" required class="form-control" minlength="8" maxlength="16"
                   placeholder="Введите пароль" type="password">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-key"></i></span>
            </div>
            <input name="password_repeat" id="second_pass" required class="form-control" minlength="8" maxlength="16"
                   placeholder="Повторите пароль" type="password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="CheckPass()">Регистрация</button>
        <p class="text-center">Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a> </p>
    </form>
    <script>
    function CheckPass() {
        var first_pass = document.getElementById("first_pass");
        var second_pass = document.getElementById("second_pass");
        if (first_pass.value != second_pass.value) {
            document.getElementById('password_error').style.display = 'block';
        }
    }
    </script>
{% endblock %}