{% block personal_area_profile %}
{% load static %}
{% load i18n %}
    <div class="page-header">
        <h2>
            <i class="fas fa-dollar-sign"></i>
            {% trans 'Ваши расценки' %}
                    <button type="button" class="btn btn-light" id="new_trainer_price" data-toggle="modal"
                            data-target="#priceEdit">
                        <i class="fas fa-plus-square "></i>
                    </button>
        </h2>
    </div>
    <hr>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-12">

            <div class="card">
                <h5 class="card-header">{% trans "Расценки тренера" %}
                    <button type="button" class="btn btn-light" id="new_trainer_price" data-toggle="modal"
                            data-target="#priceEdit">
                        <i class="fas fa-plus-square "></i>
                    </button>
                </h5>
                <div class="card-body">
                    {% if fitness_trainer_price %}
                        <div style="overflow-x:auto;">
                            <table class="table  table-striped table-bordered" id="trainer_prices_table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" hidden>№</th>
                                    <th scope="col">{% trans "Цена/час" %}</th>
                                    <th scope="col">{% trans "Валюта" %}</th>
                                    <th scope="col">{% trans "Торг" %}</th>
                                    <th scope="col">{% trans "Актуальность" %}</th>
                                    <th scope="col">{% trans "Коментарий" %}</th>
                                    <th scope="col">{% trans "Редактирование" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in fitness_trainer_price %}
                                    <tr>
                                        <td hidden>{{ price.id }}</td>
                                        <td>{{ price.trainer_price_hour }}</td>
                                        <td>{{ price.trainer_price_currency }}</td>
                                        <td>
                                            {% if price.trainer_price_bargaining %}
                                                <p hidden>True</p>
                                                <i class="fas fa-check-circle" style="color: green"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: red"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if price.trainer_price_actuality %}
                                                <p hidden>True</p>
                                                <i class="fas fa-check-circle" style="color: green"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: red"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ price.trainer_price_comment }}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary" id="price_edit_btn" data-toggle="modal"
                                                    data-target="#priceEdit">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        {% trans 'Нет активных расценок, добавьте.' %} <i class="fas fa-plus-square"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

        {% block price_edit %}

            {% include 'elements/modal_edit/price_edit_modal.html' %}

        {% endblock %}

    <script>
        jQuery(document).ready(function(){
             $("#trainer_prices_table").on('click','.btn.btn-outline-primary',function(){
                var currentRow=$(this).closest("tr");
                var userId=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
                var price=currentRow.find("td:eq(1)").text();
                var currency=currentRow.find("td:eq(2)").text();
                var bargain=currentRow.find("td:eq(3)").text();
                var actual=currentRow.find("td:eq(4)").text();
                var comment=currentRow.find("td:eq(5)").text();

                $("#price_id_modal").val(userId);
                $("#price_modal").val(parseFloat(price.replace(',','.')));
                $("#price_comment_modal").val(comment);
                $("#price_currency_modal").val(currency);

                $("#price_bargain_modal").prop('checked', false);
                $("#price_actual_modal").prop('checked', false);
                if (bargain.includes('True')){
                    $("#price_bargain_modal").prop('checked', true);
                }
                if(actual.includes('True')){
                    $("#price_actual_modal").prop('checked', true);
                }
            });
             $("#new_trainer_price").click(function(){

                $("#price_id_modal").val(0);
                $("#price_modal").val(0);
                $("#price_comment_modal").val("");
                $("#price_currency_modal").val("");

                $("#price_bargain_modal").prop('checked', false);
                $("#price_actual_modal").prop('checked', false);
            });
        });

        </script>

{% endblock %}