{% block user_params %}
{% load static %}
{% load i18n %}
    <div class="page-header">
    <h2>

    <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'user_params' %}';">
<i class="fas fa-chart-area"></i>
                {% trans "Ваши параметры" %}
        </button>
        <button type="button" class="btn btn-light" id="create_user_target" data-toggle="modal"
                data-target="#newUserTarget">
            <i class="fas fa-plus-square "></i>
        </button></h2>

    </div>
    <hr>
   
    {% if user_body_params %}
        <div class="paginattion">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if user_body_params.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">{% trans 'Первая' %}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_body_params.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                        </li>
                    {% endif %}
                        
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ user_body_params.number }}<span class="sr-only">(current)</span></a>
                    </li>
                        
                    {% if user_body_params.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_body_params.next_page_number }}">{% trans 'Следующая' %}</a>
                        </li>                       
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_body_params.paginator.num_pages }}">{% trans 'Последняя' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}

    <div class="row" style="padding-bottom: 20px">
        <div class="col-12">

        {% for parameter in user_body_params %}

            <div class="card text-center">
              <div class="card-header">
                  <div >
                      {{ parameter.datetime_to_date }}
                  </div>
              </div>
              <div class="card-body">
                    <p hidden class="user_params_id" >{{ parameter.user_parameter.id }}</p>
                <h5 class="card-title">
                    {{ parameter.user_parameter.body_title }}
                </h5>
                <p class="card-text text-justify">
                    {% trans "Последнее значение" %}: {{ parameter.body_data }}
                    <br>
                    {% trans "Актуальная цель" %}: {{ parameter.user_parameter.actual_target.target_body_data }}


                <canvas id="canvas_{{ forloop.counter }}" class="chartjs-render-monitor"
                    style="display: block; width: 100%; height: 30%;">
            
                </canvas>
                </p>

              </div>
              <div class="card-footer text-muted">
                  <div style="float: left; margin-bottom: 0px" class="row buttons">
                          <button type="button" class="btn btn-secondary new_data" value="{{ parameter.user_parameter.id }}"  name="new_param_data" data-toggle="modal"
                          data-target="#addUserParamData">
                              <i class="fas fa-plus"></i>
                              {% trans "Добавить данные" %}
                          </button>
                  </div>
                  <div style="float: left; margin-bottom: 0px" class="row buttons">
                          <button type="button" class="btn btn-secondary new_data" value="{{ parameter.user_parameter.id }}"  name="new_target_data" data-toggle="modal"
                          data-target="#addUserTargetData">
                              <i class="fas fa-bullseye"></i>
                              {% trans "Обновить цель" %}
                          </button>
                  </div>

                  <form style="float: right; margin-bottom: 0px" method="post" action="{% url 'user_params' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input hidden name="param_id" value="{{ parameter.user_parameter.id }}">
                      <button type="submit" class="btn btn-danger">
                          <i class="fas fa-trash"></i>
                          {% trans "Удалить" %}
                      </button>
                  </form>
              </div>
            </div>

        {% empty %}
            {% trans 'Нет параметров, добавьте.' %}
        {% endfor %}

        </div>
    </div>


   
    {% if user_body_params %}
        <div class="paginattion">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if user_body_params.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">{% trans 'Первая' %}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_body_params.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                        </li>
                    {% endif %}
                        
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ user_body_params.number }}<span class="sr-only">(current)</span></a>
                    </li>
                        
                    {% if user_body_params.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_body_params.next_page_number }}">{% trans 'Следующая' %}</a>
                        </li>                       
                        <li class="page-item">
                            <a class="page-link" href="?page={{ user_body_params.paginator.num_pages }}">{% trans 'Последняя' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}

        {% block user_params_edit %}

            {% include 'elements/modal_edit/user_params/data_param_modal.html' %}
            {% include 'elements/modal_edit/user_params/target_param_modal.html' %}
            {% include 'elements/modal_edit/user_params/user_param_modal.html' %}

        {% endblock %}

<script>
    // рисуем графики для параметров
    {% for parameter in user_body_params %}
        user_json_data = JSON.parse('{{parameter.get_parameters_chart_json_data | escapejs}}');

        var user_params_canva_{{forloop.counter}} = document.getElementById("canvas_{{forloop.counter}}");

        var myChart = new Chart(user_params_canva_{{forloop.counter}}, {
        type: 'scatter',
        data: {
            datasets: [
                {
                label: '{% trans "Ваши данные" %}',
                data: user_json_data.user_data,
                showLine: true,
                fill: false,
                borderColor: 'rgba(0, 200, 0, 1)'
                },
            {
                label: '{% trans "Ваша цель" %}',
                data: [{x: user_json_data.user_data[0].x, y: user_json_data.target_data}, {x: user_json_data.user_data[user_json_data.user_data.length-1].x, y: user_json_data.target_data }],
                showLine: true,
                fill: false,
                borderColor: 'rgba(200, 0, 0, 1)'
                }
            ]
        },
        options: {
            tooltips: {
            mode: 'index',
            intersect: false,
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            yAxes: [{
                ticks: {
                beginAtZero:false
                }
            }],
            xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        week: 'll'
                    }
                }
            }],
            },
        }
        });

    {%endfor%}
    
    </script>

    <script>
        function reloader () {
            location.reload(true)
            }         
    </script>

    <script type="text/python">
        from browser import document as doc, alert, ajax, window
        import json
        import urllib
    
        csrf_token = doc.get(name='csrfmiddlewaretoken')[0].value
        
        # selected param to update
        param_id=0
        
        # add param ID to form
        def add_param_id(ev):
            global param_id
            param_id=ev.currentTarget.value
            
        def on_complete(req):
            json_response = json.loads(req.text)
            # if success creation
            if req.status==200 and json_response['answer']==True:
                # reload page from JS
                window.reloader()
            # if error - show message
            else:
                alert(json_response['error_answer'])
        """
        AJAX request for adding new data target
        """    
        def send_new_target_data(ev):
            req = ajax.ajax()
            req.bind('complete',on_complete)
            # send a POST request to the url
            req.open("POST","{% url 'user_params' %}",True)
            # set headers
            req.set_header('content-type','application/x-www-form-urlencoded')
            req.set_header('accept','text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8')
            # set header for Django .is_ajax() method
            req.set_header('X-Requested-With','XMLHttpRequest')
    
            # get inserted form data
            body_target_data = doc['body_target_data_id'].value
    
            # check inputs 
            if body_target_data:
                # prepare request dictionary
                request_body = {
                                'csrfmiddlewaretoken':csrf_token, 
                                'param_id':param_id, 
                                'body_target_data': body_target_data,
                                'new_body_target_data_id':True
                                }
    
                # send data as a dictionary
                req.send(request_body)
            else:
                alert('Заполните все поля.')
        
        """
        AJAX request for adding new data
        """
        def send_new_param_data(ev):
            req = ajax.ajax()
            req.bind('complete',on_complete)
            # send a POST request to the url
            req.open("POST","{% url 'user_params' %}",True)
            # set headers
            req.set_header('content-type','application/x-www-form-urlencoded')
            req.set_header('accept','text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8')
            # set header for Django .is_ajax() method
            req.set_header('X-Requested-With','XMLHttpRequest')

            # get inserted form data
            body_param_data = doc['body_param_data_id'].value

            # check inputs 
            if body_param_data:
                # prepare request dictionary
                request_body = {
                                'csrfmiddlewaretoken':csrf_token, 
                                'param_id':param_id, 
                                'body_param_data': body_param_data,
                                'new_body_param_data_id':True
                                }

                # send data as a dictionary
                req.send(request_body)
            else:
                alert('Заполните все поля.')

    
    
        # bind all add new data params objects to func
        for element in doc.select('.btn.btn-secondary.new_data'):
            element.bind("click", add_param_id)
        
        # bind adding new param data
        doc['save_body_param_data_id'].bind('click', send_new_param_data)
    
        # bind adding new target data
        doc['save_body_target_data_id'].bind('click', send_new_target_data)
    </script>
{% endblock %}